body {
  margin: 0;
  padding: 0;
}
/* swiper */
/* 全体のスタイル */
.swiper-wrapper {
  width: 100%;
  height: 600px;
}
/* 全スライド共通スタイル */
.swiper-slide {
  color: #ffffff;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 600px;
}
/* 4の倍数＋1枚目のスライドのスタイル（1枚目、5枚目…） */
.swiper-slide:nth-child(3n + 1) {
  /* background-color: #eecb27; */
  background-image: url(../images/eyecatch2.jpg);
  background-size: cover;
}
/* 4の倍数＋2枚目のスライドのスタイル（2枚目、6枚目…） */
.swiper-slide:nth-child(3n + 2) {
  /* background-color: #e13239; */
  background-image: url(../images/eyecatch.jpg);
  background-size: cover;
}
/* 4の倍数＋3枚目のスライドのスタイル（3枚目、7枚目…） */
.swiper-slide:nth-child(3n + 3) {
  /* background-color: #1f1762; */
  background-image: url(../images/eyecatch3.jpg);
  background-size: cover;
}
/* eyecatch */
.eyecatch {
  width: 100%;
  height: 550px;
  position: relative;
}
.eyecatch > img {
  width: 48px;
  height: 48px;
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 100;
}

/* main-content */
.main-content {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 100px;
}
.content-head {
  text-align: center;
  margin: 100px 0 100px 0;
}
.content-items {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.content-item {
  width: 40%;
  height: 300px;
  margin-left: 5%;
  margin-bottom: 50px;
  text-align: center;
}
.content-item > img {
  width: 100%;
  height: 300px;
}
/* today */
.today {
  text-align: right;
  margin-right: 20px;
}
/* footer */
footer {
  width: 100%;
  height: 72px;
  background-color: #777777;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smartphone {
  display: none;
}

/* responsive-smartphone */
@media screen and (max-width: 599px) {
  .eyecatch {
    height: 200px;
  }
  .eyecatch > img {
    width: 24px;
    height: 24px;
  }
  .content-head {
    margin: 0 auto;
  }
  .content-head > h2 {
    margin-bottom: 0;
  }
  .main-content {
    width: 100%;
  }
  .pc {
    display: none;
  }
  .smartphone {
    display: block;
  }
  .content-item {
    width: 100%;
    font-size: 0.9rem;
    margin: 50px 0;
  }
  footer {
    font-size: 0.9rem;
  }
}

/* responsive-tablet */
@media screen and (max-width: 1024px) {
  .main-content {
    width: 100%;
  }
}
